#ifndef CREDENTIALS_H
#define CREDENTIALS_H 1

#define WIFI_SSID ""
#define WIFI_PSK ""

#define MQTT_HOST "" // do not include http e.g. "my.mqttserver.local" or "192.168.0.100"
#define MQTT_USERNAME ""
#define MQTT_PASSWORD ""

#define OTA_PASSWORD "WS2MQTTPassword"

#endif
